# Compiled class file
*.class

OSRSQuestHelper.iml
.settings/
out/
.idea/
target/classes/MainMenuLayout.fxml
target/classes/MemberQuests.txt
target/classes/SaveData.txt
target/classes/TabPaneLayout.fxml
target/classes/TaskSaveData.txt
target/classes/Tasks.txt
target/classes/application.css
target/classes/background.png
target/classes/button.png
target/classes/buttonHigh.png
target/classes/style.css
target/generated-sources/
