#sideMenu:pressed{
	-fx-min-width: 200px;

}

#sideMenu:pressed #arrow{
	-fx-rotate: 180;

}

#sideMenu{
	-fx-min-width: 10px;
	-fx-alignment: center;

}


#questGuideButton{
	-fx-background-color: transparent;
    -fx-background-image: url("button.png");
    -fx-background-position: top left;
    -fx-background-repeat: stretch;   
    
}

#questGuideButton:hover{
    -cursor:inherit;
    -fx-background-image: url("buttonHigh.png");
}

#mainMenu{
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
